header {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 30px 40px;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

input {
    width: 100%;
    margin-right: 0;
    padding: 10px;
    border-radius: 5px solid black;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    margin-left: 0;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #bbb;
    color: white;
}

.lista {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    border: #555;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;

}
.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
};

/*O estilo css foi baseado em: https://medium.com/clarusway/making-a-todo-list-with-html-css-and-javascript-154839b770b6*/